body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
}

.sidebar {
  flex: 30%;
  border-right: 1px solid #ddd;
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.main-content {
  flex: 70%;
  padding: 20px;
}

.main-content > div {
  display: none;
}

.main-content > div:target {
  display: block;
}

.sidebar ul li a {
  color: black;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2em;
}

.sidebar ul li a:hover {
  color: red;
}