body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #f8f9fa;
  padding: 20px 0;
  text-align: center;
}

h1 {
  color: #343a40;
}

main {
  padding: 20px 0;
  text-align: center;
}

footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  text-align: center;
  font-size: 0.8em;
  color: #868e96;
}